.navbar{
  background-color: #8B04FE!important;
}

a:hover{
	color: white!important;
}

.btn{
	text-align: right!important;
}

.pad{
	padding: 13px;
}

.izquierda{
	text-align: left;
}

.colorfot{
	background-color: #5B03FD;
}

.blanco{
	color: white;
}